.holder1{ 
			height: auto;
			overflow: hidden;
			margin-left: 10%;
			margin-right: 10%;
			}

#cv_holder {
			border-radius: 6px;
			margin-left: auto;
			margin-right: auto;
			width: 650px;
			height: 840px;
			border: 5px solid;
			border-color: black;
			}
			
@media screen and (max-width: 640px) {
	.holder1 { 
				margin: 0 auto;
				}
#cv-holder{	width: 100%;
				}		
}


#text {		
			padding: 3px;
			border: 3px solid;
			border-radius: 5px;
			border-color: black;
			background-color: white;
			}
			

.space {
			height: 10px;
			}
			


.left {
			float: left;
			width: 35%;
			}

.right {		
			width: auto;
			overflow: hidden;
			}
.topnav {
			padding-right: 0px;
			}
.image1 {	margin-left: 15%;
			margin-right: auto;
			padding: 5px;
			}