.holder1{ 
			height: auto;
			overflow: hidden;
			margin-left: 10%;
			margin-right: 10%;
			}

#cv_holder {
			border-radius: 6px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2%;
			width: 650px;
			height: 840px;
			border: 5px solid;
			border-color: black;
			}
			
.top_navbar {
				height: 50px;
				width: 100%;
				padding-top: 10px;
				padding-bottom: 10px;
				background-color: black;
				}
body { 
  background: url(uofinew.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

		
@media screen and (max-width: 640px) {
	.holder1 { 
				margin: 0 auto;
				}		
}


#text {		
			padding: 3px;
			border: 3px solid;
			border-radius: 5px;
			border-color: black;
			background-color: red;
			}
			
.navbar .nav li a {
				line-height: 30px;
				}

.right { position: relative;
		left: -10px;
}

.right1 {		
			float: right;
			padding-right: 10px;
			}
.topnav {
			padding-right: 0px;
			}
.image1 {	margin-left: 15%;
			margin-right: auto;
			padding: 5px;
			}